<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PriceApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C1016F42DEAF639D3C55FB658BBBB4BFF2BA7A62</string>
				<key>dateExpires</key>
				<string>7/9/20</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C1016F42DEAF639D3C55FB658BBBB4BFF2BA7A62</string>
						<key>dateExpires</key>
						<string>7/9/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6WFVFGGZZJ</string>
						<key>name</key>
						<string>VMG MEDIA JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C1016F42DEAF639D3C55FB658BBBB4BFF2BA7A62</string>
						<key>dateExpires</key>
						<string>7/9/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AVHexColor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6WFVFGGZZJ</string>
						<key>name</key>
						<string>VMG MEDIA JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C1016F42DEAF639D3C55FB658BBBB4BFF2BA7A62</string>
						<key>dateExpires</key>
						<string>7/9/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6WFVFGGZZJ</string>
						<key>name</key>
						<string>VMG MEDIA JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C1016F42DEAF639D3C55FB658BBBB4BFF2BA7A62</string>
						<key>dateExpires</key>
						<string>7/9/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirePush.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6WFVFGGZZJ</string>
						<key>name</key>
						<string>VMG MEDIA JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C1016F42DEAF639D3C55FB658BBBB4BFF2BA7A62</string>
						<key>dateExpires</key>
						<string>7/9/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JSONKit_NoWarning.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6WFVFGGZZJ</string>
						<key>name</key>
						<string>VMG MEDIA JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C1016F42DEAF639D3C55FB658BBBB4BFF2BA7A62</string>
						<key>dateExpires</key>
						<string>7/9/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MCChartView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6WFVFGGZZJ</string>
						<key>name</key>
						<string>VMG MEDIA JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C1016F42DEAF639D3C55FB658BBBB4BFF2BA7A62</string>
						<key>dateExpires</key>
						<string>7/9/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6WFVFGGZZJ</string>
						<key>name</key>
						<string>VMG MEDIA JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C1016F42DEAF639D3C55FB658BBBB4BFF2BA7A62</string>
						<key>dateExpires</key>
						<string>7/9/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6WFVFGGZZJ</string>
						<key>name</key>
						<string>VMG MEDIA JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C1016F42DEAF639D3C55FB658BBBB4BFF2BA7A62</string>
						<key>dateExpires</key>
						<string>7/9/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6WFVFGGZZJ</string>
						<key>name</key>
						<string>VMG MEDIA JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C1016F42DEAF639D3C55FB658BBBB4BFF2BA7A62</string>
						<key>dateExpires</key>
						<string>7/9/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6WFVFGGZZJ</string>
						<key>name</key>
						<string>VMG MEDIA JOINT STOCK COMPANY</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6WFVFGGZZJ.ios.a.btest</string>
				<key>com.apple.developer.team-identifier</key>
				<string>6WFVFGGZZJ</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>6WFVFGGZZJ.ios.a.btest</string>
				</array>
			</dict>
			<key>name</key>
			<string>PriceApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d9404fc9-4e5b-4df1-93c7-bbfae8396a6a</string>
				<key>name</key>
				<string>BTest</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6WFVFGGZZJ</string>
				<key>name</key>
				<string>VMG MEDIA JOINT STOCK COMPANY</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
